body {
	background-color: #6E6158;
}

.donate_content {
	text-align: center;
	margin: 50px auto;
	width: 1000px;
	/*display: t`able;*/
}

.donate_content img {
	border-radius: 10%;
	margin: 30px;
	width: 400px;

}

.donate_photobox {
	display: inline-block;
	margin: 0px;
	position: relative;
}

.donate_photobox p {
	font-size: 40px;
	margin: 0;
	color: white;
}

.donate_absolute {
	position: absolute;
	width: 100%;
	bottom: 100px;
	text-align: center;
}

.donate_title {
	font-family: georgia, serif;
	color: white;
}